<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841581401870-9rrkhb138ec09l3aunib9d46p1ti8vk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841581401870-9rrkhb138ec09l3aunib9d46p1ti8vk6</string>
	<key>API_KEY</key>
	<string>AIzaSyBmCThK7rb1_o-WLFFeeam0CQxfI9a2YfU</string>
	<key>GCM_SENDER_ID</key>
	<string>841581401870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NTUST-iOS.Travel</string>
	<key>PROJECT_ID</key>
	<string>travel-63e91</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-63e91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841581401870:ios:36abd492fe32646f0ae95f</string>
	<key>DATABASE_URL</key>
	<string>https://travel-63e91-default-rtdb.firebaseio.com</string>
</dict>
</plist>